@use "./../../../assets/scss/mixin.scss" as *;

.mega-menu {
    width: 100%;
    background-color: transparent;
    border: 0px;
    margin: auto;
    justify-content: center;

    @include responsive(lg) {
        width: 100%;
        height: 100%;
    }

    .ant-menu-title-content{
        padding: 0px 20px;
        font-size: 16px;
        color: #fff;
        font-weight: 400;

        @include responsive(lg) {
            color: #000;
        }
    }

    .ant-menu-submenu-title {
        padding: 0px 20px;
        font-size: 16px;
        color: #fff;
        font-weight: 400;

        @include responsive(lg) {
            color: #000;
        }
    }

    .ant-menu-submenu {
        &::after {
            display: none;
        }
    }
    .ant-menu-item{
        &::after {
            display: none;
        }
    }
}

.mega-dropdown {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 0px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    
    .ant-menu-sub {
        padding: 20px 20px !important;
        width: 1000px;
        background: #fff;
        height: auto;
        animation: slideUp alternate 0.4s ease;
        transform-origin: top;
    }
    @keyframes slideUp {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.mega-menu-content {
    
    @include responsive(lg) {
        padding: 10px 24px;
    }

    @include responsive(sm) {
        padding: 10px 70px;
    }

    .ant-row {
        width: 100%;
        @include responsive(lg){
            flex-direction: column;
        }
        .ant-col{
            max-width: 100%;
        }
    }

    h4 {
        color: var(--primary);
        font-weight: 600;
        margin-bottom: 10px;
        line-height: normal;
        border-bottom: 1px solid #d5d5d5;
        padding: 5px 0px;
        font-size: 15px;
        font-family: 'poppins', sans-serif !important;
        // cursor: pointer;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                color: #000;
                font-weight: 400;
                line-height: normal;
                padding: 5px 0px;
                font-family: 'poppins', sans-serif !important;
                width: 100%;
                display: block;
                font-size: 14px;

                &:hover {
                    color: #d62828;
                }
            }
        }
    }
}

.responsive-mega-menu {
    padding: 8px 0px;
    @include responsive(sm){
        padding: 6px 0px;
    }

    .hamburger-btn {
        display: none;
        font-size: 18px;
        color: #fff;
        padding: 2px 15px;
    }

    @media (max-width: 1200px) {
        .hamburger-btn {
            display: block;
            svg{
                width: 24px;
                height: 24px;
                path{
                    fill: #fff;
                }
            }
        }

        .mega-dropdown {
            display: none !important;
        }
    }
}

