@use "./../../../assets/scss/mixin.scss" as *;
.address-wrapper {


   .custom-occasion-select .ant-select-selector {
        padding-left: 50px !important;
        }

        .custom-occasion-select .occasion-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        }

        .custom-occasion-select .ant-select-selection-placeholder {
        margin-left: 0;
        }

        .custom-occasion-select .ant-select-selection-item .occasion-option {
        margin-left: 24px;
        }

        /* Remove default arrow */
        .custom-occasion-select .ant-select-arrow {
        right: 11px;
        left: 10px;
        }

        .custom-occasion-select .ant-select-arrow .anticon {
        display: none;
        }

    .address-form-wrapper{
        background-color: #0000000A;
        border-radius: 22px;
        padding: 24px 26px;
        margin-bottom: 30px;
        @include responsive(xs) {
            padding: 24px 15px;
        }
        h3{
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            color: var(--primary);
            margin-bottom: 27px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: var(--text);
            margin-bottom: 20px;
            text-align: left;
        }
        .ant-input{
            color: #000;
            border-radius: 5px;
            padding: 10px 10px;
            box-shadow: unset;
            &:hover{
                border-color: var(--primary);
            }
            &:focus-within{
                border-color: var(--primary);
                box-shadow: unset;
            }
            &::placeholder{
                color: #8B8B8B;
                font-size: 14px;
                font-weight: 400;
            }
        }
        .ant-select{
            height: 44px;
            .ant-select-selector{
                &:hover{
                    border-color: var(--primary)!important;
                }
                &:focus-within{
                    border-color: var(--primary)!important;
                    box-shadow: unset!important;
                }
                &::placeholder{
                    color: #8B8B8B;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        .bottom-btn-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .cancel-btn{
                background-color: transparent;
                border-radius: 50px;
                width: 48%;
                border: 1px solid var(--primary);
                font-family: 'poppins', sans-serif !important;
                font-weight: 600;
                font-size: 16px;
                color: var(--primary);
                padding: 16px 10px;
                height: auto;
            }
            .save-btn{
                background-color: var(--primary);
                border-radius: 50px;
                width: 48%;
                border: 1px solid var(--primary);
                font-family: 'poppins', sans-serif !important;
                font-weight: 600;
                font-size: 16px;
                color: #fff;
                padding: 16px 10px;
                height: auto;
            }
        }
    }
}