.empty-card {
    margin: 4rem 0px;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .center-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            width: 80%;
            margin: auto;
            display: block;
        }

        h2 {
            color: #000000;
            font-size: 26px;
            font-weight: 400;
            margin-top: 2rem;
            font-family: 'poppins', sans-serif!important;
        }

        .text_18 {
            color: #4A4A46;
            font-weight: 400;
            font-size: 18px;
        }
    }

    .transparent-btn {
        border: 1px solid #C2C2C2;
        border-radius: 5px;
        padding: 7px 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 8px;
        }
    }

    .shop {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 30px;
    }

    .common_heading_cls {
        font-size: 24px;
        margin-bottom: 0;
    }
}

/* Media Queries */

@media (max-width: 1024px) {
    .empty-card {
        .center-img {
            h2 {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 768px) {
    .empty-card {
        .center-img {
            h2 {
                font-size: 18px;
            }
        }

        .transparent-btn {
            padding: 4px 10px;
        }

        .common_heading_cls {
            font-size: 18px;
        }
    }
}

@media (max-width: 375px) {
    .empty-card {
        .common_heading_cls {
            font-size: 16px;
        }
    }
}
