@use "./../../assets/scss/mixin.scss" as *;

.faqs-wrapper {
    padding-bottom: 3rem;
    .ant-skeleton{
        margin-bottom: 20px !important;
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 40px;

        span {
            width: 100px;
            height: 2px;

            @include responsive(sm) {
                width: 50px;
            }

            &:first-child {
                background: linear-gradient(260deg, var(--Font-Color, #E8214C) 0%, rgba(255, 255, 255, 0.00) 100%);
            }

            &:last-child {
                background: linear-gradient(90deg, var(--Font-Color, #E8214C) 0%, rgba(255, 255, 255, 0.00) 100%);
            }
        }

        p {
            color: #1A1A1A;
            font-family: 'poppins', sans-serif !important;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;

            @include responsive(sm) {
                font-size: 15px;
            }
        }
    }

    .content-wrap {
        .faq-collapse {
            background: #fff;
            border: none;

            .ant-collapse-item {
                border: none;
                margin-bottom: 20px;
                border-radius: 4px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

                &.ant-collapse-item-active {
                    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
                    .ant-collapse-header {
                        background-color: #656565;
                        color: #fff;
                    }
                }

                .ant-collapse-header {
                    font-weight: 500;
                    font-size: 16px;
                    background: #fff;
                    padding: 16px;
                    transition: all 0.3s;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    border: 1px solid #E4E7E9;
                }

                .ant-collapse-content {
                    background: #fff;
                    padding: 0 16px 16px;
                    border-top: 0px;

                    p {
                        margin: 0;
                        font-size: 14px;
                        line-height: 1.6;
                    }
                }

                .ant-collapse-expand-icon {
                    margin-inline-end: 12px;
                }
            }
        }
    }
}