.blog-listing-wrapper {
    .filter-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .left-counting {
            h3 {
                font-family: 'poppins', sans-serif !important;
                font-weight: 600;
                font-size: 16px;
                color: #1A1A1A;

                span {
                    font-weight: 400;
                    color: #666666;
                }
            }
        }

        .sort-by-wrap {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                font-family: 'poppins', sans-serif !important;
                font-weight: 400;
                font-size: 14px;
                color: #808080;
            }

            .ant-select {
                width: 120px;
            }
        }
    }

    .blogs-cards {
        border: 1px solid #8B8B8B;
        background: #FFF;
        border-radius: 12px;
        margin-bottom: 24px;
        position: relative;
        .ant-skeleton-image{
            width: 100% !important;
            height: 220px !important;
        }
        .ant-skeleton-element{
            .ant-skeleton-button{
                margin-top: 14px;
            }
        }
        

        .image-wrap {
            position: relative;

            img {
                width: 100%;
                height: auto;
                border-radius: 12px 12px 0px 0px;
                object-fit: cover;
            }

            .current-date {
                background-color: #FFFFFFD9;
                border-radius: 4px;
                padding: 6px 15px;
                position: absolute;
                left: 15px;
                bottom: 15px;

                h4 {
                    font-family: 'poppins', sans-serif !important;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: normal;
                    text-align: center;
                    color: var(--text);
                }

                p {
                    color: #8B8B8B;
                    font-family: 'poppins', sans-serif !important;
                    font-weight: 500;
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        .content {
            padding: 24px;

            h3 {
                font-weight: 500;
                font-size: 16px;
                color: var(--text);
                margin-bottom: 20px;
                line-height: 1.5;
            }

            a {
                font-weight: 600;
                font-size: 16px;
                color: var(--primary);
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}